<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
   


      <% if current_user %>
        <li role="presentation"><a href="#">Signed in as <%= current_user.email %></a></li>
        <li role="presentation"><%= link_to "Log out", session_path("current"), method: :delete %></li>
      <% else %>
        <li role="presentation"><%= link_to "Log In", new_session_path %></li>
        <li role="presentation"><%= link_to "Sign Up", new_user_path %></li>
       <% end %>

      <li role="presentation"><%= link_to 'Jobs', jobs_path %></li>
      <li role="presentation" class="active"><%= link_to 'Post a job', new_job_path %></li>

    </ul>
  </div>
</nav>


